@import url(./ia-mono.css);

/* Global variables. */
:root,
::backdrop {
    --first-color: #dcb5ff;
    --second-color: #d9f2ff;
    --third-color: #a5bdfd;
    --fourth-color: #77529e;
}

/* Style for the top bar */
.top-bar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box; /* Include padding in the width */
}

.top-bar a:first-child {
  margin-left: auto; /* Pushes other items to the right */
}

.top-bar a {
  display: flex;
  align-items: center;
  margin-left: 20px; /* Space between each link */
  text-decoration: none;
  flex-shrink: 0; /* Prevent links from shrinking */
}

.top-bar .logo {
  display: flex;
  align-items: center;
  flex-shrink: 0; /* Prevent the logo from shrinking */
}

.top-bar-link {
  color: #333;
  font-weight: bold;
}

.top-bar-link:hover {
  color: #0073e6;
}

.top-bar img.logo {
  height: 24px; /* Set a consistent icon size */
  width: auto;
  flex-shrink: 0; /* Prevent the image from shrinking */
}

/* Ensure the body has no margin and is centered horizontally */
body {
    font-family: "iA Writer Quattro", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Wrapper for the main content to limit its width to 80% of the viewport */
#main-content {
    width: 96vw;
    max-width: 900px; /* Optional: you can set a max-width for larger screens */
    margin: 0 auto; /* Center the content */
}

h1 {
    text-align: center;  /* Centers the text horizontally */
    margin: 0 auto;      /* Center elements with automatic margin */
    color: var(--fourth-color);
}

p, h2, h3, h4 {
    text-align: left;  /* Centers the text horizontally */
    margin: 0 auto;      /* Center elements with automatic margin */
    max-width: 800px;    /* Optional: limits the width of the content */
    padding: 20px 20px 0px 20px;   /* Adds some space at the top */
}

/* Style for the view selector container */
.view-selector {
  display: flex;
  justify-content: center; /* Center align icons horizontally */
  margin-top: 20px; /* Add some space above and below */
  widht: 100%;
}

/* Each option (icon + text) */
.view-option {
  display: flex;
  flex-direction: column; /* Stack icon and text vertically */
  align-items: center; /* Center align the icon and text */
  padding: 5px;
  margin: 0 10px; /* Add some space between the options */
  border: 2px solid transparent; /* Border for the highlighted state */
  border-radius: 8px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: border-color 0.3s ease; /* Smooth transition for the border color */
  width: 80px; /* Set a fixed width for both options */
  height: 80px; /* Set a fixed height for both options */
  box-sizing: border-box; /* Ensure padding and borders are included in the size */
}

/* Highlight the active view */
.view-option.highlighted {
  border-color: var(--third-color); /* Highlight color */
}

/* Style for the view icons */
.view-icon {
  height: 30px; /* Size of the icons */
  width: auto;  /* Maintain aspect ratio */
  margin-bottom: 0px; /* Ensure a small space between icon and text */
  padding: 10px;
}

/* Style for the view labels below the icons */
.view-option p {
  margin: 0;
  padding: 0px;
  font-size: 12px; /* Text size */
  color: #333; /* Text color */
  font-weight: bold;
  text-align: center; /* Ensure text is centered */
}

/*redefine witdh for viewContext box*/
#viewContent p {
    max-width: 100%; /* Example text alignment */
    font-size: 0.8rem;
    padding: 10px 20px 0px 20px;
}

#viewContent h2, h3, h4 {
    max-width: 100%;
}


/* Border around the Edit content */
#editContent {
    border: 2px solid var(--third-color); /* Thin border for the edit view */
    padding: 10px; /* Add padding inside the content box */
    margin-top: 20px;
    border-radius: 8px; /* Optional: rounded corners */
    background-color: #fff; /* Ensure a white background inside the box */
    width: auto;
}

/* Border around the Analyse content */
#analyseContent {
    border: 2px solid var(--third-color); /* Same thin border for analyse view */
    padding: 10px; /* Add padding inside the content box */
    margin-top: 20px;
    border-radius: 8px; /* Rounded corners */
    background-color: #fff; /* White background inside the box */
    width: auto;
}

/* Container for the plot and buttons */
.plot-object-container {
    margin: 20px; /* Margin around the container */
    border: 1px solid black;
}

#editPlot {
    border: 0px;
}

/* Style the buttons */
.plot-object-container .button-container {
    display: flex; /* Flexbox layout for buttons */
    justify-content: space-between; /* Align buttons to the left */
    overflow-x: auto; /* Enable horizontal scrolling when content overflows */
    flex-wrap: nowrap; /* Prevent wrapping to a new line */
    gap: 10px; /* Space between buttons */
    width: 100%; /* Ensure buttons container takes up full  */
}

/* Base styles for all buttons */
.icon-btn {
    background-color: var(--third-color); /* Primary button color */
    border: none; /* Remove default border */
    border-radius: 4px; /* Rounded corners for the button */
    width: 40px; /* Set a fixed width for the button */
    height: 40px; /* Set a fixed height for the button */
    display: flex; /* Flexbox layout to center the icon */
    align-items: center; /* Center icon vertically */
    justify-content: center; /* Center icon horizontally */
    cursor: pointer; /* Pointer cursor on hover */
    flex-shrink: 0; /* Prevent buttons from shrinking */
    position: relative; /* Position relative for icon positioning */
    box-sizing: border-box; /* Include padding and border in element’s total width and height */
    overflow: hidden; /* Hide any overflow content */
    padding: 0; /* Remove default padding */
}

/* Style for inline SVG icons */
.icon-btn svg {
    width: 24px; /* Width of the SVG icon */
    height: 24px; /* Height of the SVG icon */
    margin: auto; /* Center SVG within the button */
}

.plot-object-container .icon-btn:hover {
    background-color: var(--second-color); /* Change button background on hover */
}

.plot-object-container .icon-btn:hover svg {
    fill: var(--third-color); /* Change icon color on hover */
}

.spacer {
    flex-grow: 1; /* Fills the space between the two button groups */
}

#exportBtn {
    margin-left: auto; /* Ensure it stays at the rightmost position */
}

/* Flash messages */
.flash-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #444;
    color: white;
    border-radius: 5px;
    z-index: 1000;
    opacity: 0.9;
    font-size: 16px;
    text-align: center;
}

.flash-message.success {
    background-color: #4CAF50; /* Green for success */
}

.flash-message.error {
    background-color: #f44336; /* Red for error */
}

/* Upload container styles */
.upload-container {
    border: 2px solid var(--second-color); /* Border color */
    padding: 10px 20px 20px 20px;
    border-radius: 5px;
    background-color: #f8f9fa; /* Light background for visibility */
    max-width: 350px; /* Optional: limit the maximum width */
    margin: 20px auto; /* Center horizontally */
    position: relative; /* Required for centering vertically */
}

/* Ensure label is properly styled */
.upload-container label {
    display: block;
    margin-bottom: 10px; /* Space between label and input */
    font-weight: bold;
}

/* Use flexbox for the form to keep elements in a row */
.upload-container form {
    display: flex; /* Enable flexbox */
    align-items: center; /* Center items vertically */
}

/* Style for file input */
.upload-container input[type="file"] {
    border: 2px solid var(--second-color); /* Border color */
    border-radius: 5px;
    background-color: #ffffff; /* White background for the file input */
    margin-right: 10px; /* Space between file input and button */
    flex: 1; /* Allow input to grow */
}

/* Style for the submit button */
.upload-container button {
    padding: 5px 10px; /* Add padding for the button */
    border: 0.8px solid black; /* Remove border */
    border-radius: 5px; /* Match the border radius */
    cursor: pointer; /* Change cursor on hover */
}

/* Optional: Button hover effect */
.upload-container button:hover {
    background-color: darken(var(--second-color), 10%); /* Darken on hover */
}

footer {
    margin: 20px;  /* Adds space outside the footer */
    padding: 10px; /* Adds space inside the footer */
    text-align: center;  /* Center-aligns the content */
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers the modal */
  background-color: white;
  border: 2px solid var(--fourth-color);
  border-radius: 5px;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Adds shadow for better visibility */
}

/* Style for modal title */
.modal h4 {
    margin-top: 0px;
    margin-bottom: 20px;
}


.modal-content {
  margin-bottom: 20px;
}

.modal-footer {
  text-align: center;
}

.modal select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

/* Metadata Box */

.metadata-container {
  padding: 20px 20px 0px 20px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; /* Center align text */
}

.metadata-flex {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
  justify-content: center; /* Center items horizontally */
  gap: 10px; /* Space between items */
}

.metadata-box {
  background-color: #ffffff;  /* White background for each box */
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex; /* Flexbox layout */
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Center align items */
  border: 1px solid var(--third-color); /* Add border for a clear look */
}

.metadata-box strong {
  display: block;
  font-size: 14px;
  color: #333;
  margin-bottom: 8px;
}

.metadata-box span {
  color: #333;
  font-size: 14px;
}

.summary-container {
  padding: 20px 20px 0px 20px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  max-width: 90vw;
}

/* Center the table and style it */
table {
    width: 80%; /* Adjust the width of the table */
    margin: 0 auto;
    border-collapse: collapse; /* Ensure borders are collapsed */
    text-align: center; /* Center text inside table cells */
    border: 2px solid var(--third-color); /* Border around the table */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

/* Style the table header */
thead th {
    padding: 10px; /* Add some padding */
    font-weight: bold; /* Bold text */
    font-size: 16px; /* Increase the font size */
    border-bottom: 1px solid var(--second-color); /* Bottom border */
}

/* Style the table body */
tbody td {
    padding: 8px 8px; /* Padding around the table cells */
    font-size: 14px; /* Font size for table cells */
}

/* Style for table rows */
tbody tr {
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

/* Hover effect for rows */
tbody tr:hover {
    background-color: var(--second-color); /* Lighter background on hover */
}

/* Highlight different swim styles with specific classes */
tr.freestyle {
    background-color: #AA96DA;
}

tr.backstroke {
    background-color: #FCBAD3;
}

tr.breaststroke {
    background-color: #A8D8EA;
}

tr.butterfly {
    background-color: #FFFFD2;
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
    table {
        width: 100%; /* Ensure table takes full width on smaller screens */
    }

    thead th, tbody td {
        font-size: 12px; /* Smaller font size for smaller screens */
    }
}

/* Extra styling for intervalSummaryTable  */

.interval {
    border: 1px solid black;
}

/* Resize icons for smaller screens */
@media (max-width: 600px) {
    .logo {
        height: 25px; /* Resize icons for smaller screens */
    }
    table {
        width: 100%;
    }
    #analyseContent {
        padding: 0px;
    }
}
