<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='favicon.svg') }}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swim Data Analyser</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <!-- Top bar -->
    <header class="top-bar">
      <a href="https://github.com/PeterK-end/swim-data-analyser" target="_blank">
	<img src="/static/graphics/git-logo.svg" class="logo">
      </a>
    </header>

    <div id="main-content">

      <!-- Project Description -->
      <h1>Swim Data Analyser</h1>
      <p>Here you can find some tools to edit and analyse workout data
	produced by Smartwatches as the Garmin series. None of your data
	will be stored on the server. Before uploading your workout you
	can test all features on the demo file provided.</p>

      <!-- File upload section -->
      <div class="upload-container">
	<label for="fileUpload">Upload your FIT file:</label>
	<form id="uploadForm" enctype="multipart/form-data">
	  <input type="file" id="fileInput" name="file">
          <button type="submit">Upload</button>
	</form>
      </div>

      <!-- Flash messages section -->
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="flash-container" id="flash-message">
	{% for message in messages %}
	<p>{{ message }}</p>
	{% endfor %}
      </div>
      {% endif %}
      {% endwith %}

      <!-- Icon Selection for Edit and Analyse views -->
      <div class="view-selector">
	<div class="view-option" id="editView">
	  <img src="/static/graphics/edit-icon.svg" alt="Edit View" class="view-icon">
	  <p>Edit</p>
	</div>
	<div class="view-option" id="analyseView">
	  <img src="/static/graphics/analyse-icon.svg" alt="Analyse View" class="view-icon">
	  <p>Analyse</p>
	</div>
      </div>
      <!-- Content below to change based on view -->
      <div id="viewContent">
	<!-- Default content for edit view -->
	<div id="editContent">
	  <h2>Visual Editor</h2>
	  <div class="plot-container">
	    <div class="button-container">
	      <button id="poolSizeBtn">Change Pool Size</button>
	      <button id="mergeBtn">Merge</button>
              <button id="splitBtn">Split</button>
	      <button id="changeStrokeBtn">Change Stroke</button>
	      <button id="deleteBtn">Delete</button>
	      <button id="undoBtn">Undo All</button>
	    </div>
              <!-- Modal Structure -->
              <div id="strokeModal" class="modal" style="display: none;">
                <div class="modal-content">
                  <h4>Select Swim Stroke</h4>
                  <select id="strokeSelect">
                    <option value="freestyle">Freestyle</option>
                    <option value="breaststroke">Breaststroke</option>
                    <option value="backstroke">Backstroke</option>
                    <option value="butterfly">Butterfly</option>
                  </select>
                </div>
                <div class="modal-footer">
                  <button id="confirmStroke" class="btn">Confirm</button>
                  <button id="cancelStroke" class="btn">Cancel</button>
                </div>
              </div>
            </div>

	    <div id="plot"></div>
	    <p>Some notes about the editor</p>
	  </div>
	</div>

	<!-- Hidden by default (Analyse content) -->
	<div id="analyseContent" style="display: none;">
	  <p>This is the content for analysing your data.</p>
	</div>
      </div>

      <script src="/static/js/upload.js"></script>
      <script src="/static/js/plot.js"></script>
      <script src="/static/js/view-switcher.js"></script>
    </div> <!-- End of main-content -->
  </body>
  <footer><p><small>The content for this site is <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a> licensed. Check the <a href="https://github.com/PeterK-end/swim-data-analyser">source code</a>.</small></p></footer>
</html>
