<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swim Data Analyser</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <h1>Swim Data Analyser</h1>
    <p>Here you can find some tools to edit and analyse workout data
    produced by Smartwatches as the Garmin series. None of your data
    will be stored on the server. Before uploading your workout you
    can test all features on the demo file provided.</p>

    <!-- File upload section -->

    <div class="upload-container">
      <label for="fileUpload">Upload your FIT file:</label>
      <form id="uploadForm" enctype="multipart/form-data">
	<input type="file" id="fileInput" name="file">
        <button type="submit">Upload</button>
      </form>
    </div>

    <!-- Flash messages section -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash-container" id="flash-message">
      {% for message in messages %}
      <p>{{ message }}</p>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <h2>Test plot</h2>
    <div class="plot-container">
      <div id="plot"></div>
      <button id="mergeBtn">Merge Selected</button>
    </div>

    <script src="/static/js/upload.js"></script>
    <script src="/static/js/plot.js"></script>
  </body>
</html>
